
@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Bold'), url('./fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Heavy'), url('./fonts/Gilroy-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Light'), url('./fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Medium'), url('./fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy-Regular ☞'), url('./fonts/Gilroy-Regular.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  background-color: #f6fefa;
  font-family: 'Work Sans', sans-serif;
}

// Navbar
.nav-items {
  font-family: "Gilroy-Regular";
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Carousel
.carousel-dots-active button {
  border: 1px solid #02CB5A !important;
  border-radius: 50%;
  padding: 5px;
  // background:;
}

.carousel-dots li.carousel-dots-active button:before {
  color: #02CB5A !important;
}

.tobi {
  img {
    width: 100% !important;
  }
  // .carousel-dots {
  //   margin: 2rem auto !important;
  //   z-index: 90;
  // }
}

p {
  font-weight: 300;
}

.slick-prev,
.slick-next {
  background: #7979797a !important;
  border-radius: 50%;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: #02CB5A !important;
  // border-radius: 50%;
}


// Footer
footer {
  background-color: #F8F8F8;
  color: #494947;
}

.color-gray {
  color: #9098B1;
}